# Tratamento da base

Dados: Enem SP - 2019

In [3]:
import pandas as pd
import numpy as np

In [4]:
#Importando a base
base = pd.read_csv('C:/Users/rafae/OneDrive/Área de Trabalho/Projetos/project-estatisticas/microdados_enem_2019_sp.csv', sep=';', encoding='iso-8859-1')

In [5]:
#Demonstrativo do head da base
base.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [6]:
#Contagem de linhas e colunas
base.shape

(813772, 44)

In [7]:
#Tipos de atributos
base.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

In [8]:
#Criar nova variável e excluir colunas 
base_tratada = base.drop(columns=['NO_MUNICIPIO_NASCIMENTO','CO_UF_NASCIMENTO','SG_UF_NASCIMENTO','TP_ANO_CONCLUIU','TP_ENSINO','CO_MUNICIPIO_ESC','SG_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC','CO_UF_RESIDENCIA','SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO','CO_MUNICIPIO_NASCIMENTO',])

In [9]:
#Visualizar nova variável
base_tratada.head(10)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,22,M,1,3,1,1,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,19,M,1,3,1,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,17,F,1,3,1,2,3,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,3,1,2,2,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,37,M,2,1,1,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",3515103,Embu-Guaçu,17,F,1,3,1,2,2,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",3549904,São José dos Campos,28,F,1,1,1,1,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",3549904,São José dos Campos,25,F,2,1,1,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",3518800,Guarulhos,23,F,1,1,1,1,1,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",3550308,São Paulo,19,F,1,3,1,1,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [10]:
#Correção das notas irregulares (dividindo por 10)
base_tratada.loc[:, ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']] /= 10

In [11]:
base_tratada.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,22,M,1,3,1,1,1,...,600.2,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,19,M,1,3,1,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,17,F,1,3,1,2,3,...,731.8,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,3,1,2,2,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,37,M,2,1,1,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [12]:
#Renomeando coluna
base_tratada = base_tratada.rename(columns={'NU_INSCRICAO': 'INSCRICAO', 'Q025': 'INTERNET'})

In [13]:
#Renomeando valores
base_tratada['TP_COR_RACA'] = base_tratada['TP_COR_RACA'].replace([0,1,2,3,4,5],['Não declarado', 'Branca','Preta','Parda','Amarela','Indígena']) 
base_tratada['TP_LINGUA'] = base_tratada['TP_LINGUA'].replace([0,1],['Inglês','Espanhol'])
base_tratada['TP_ESCOLA'] = base_tratada['TP_ESCOLA'].replace([1,2,3,4],['Não respondeu','Pública','Privada','Exterior'])
base_tratada['INTERNET'] = base_tratada['INTERNET'].replace(['A','B'],['Não','Sim'])

In [14]:
base_tratada.head()

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",3546801,Santa Isabel,22,M,1,Parda,1,1,Não respondeu,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",3538204,Pinhalzinho,19,M,1,Parda,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",3550308,São Paulo,17,F,1,Parda,1,2,Privada,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,Parda,1,2,Pública,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
4,"1,90E+11",3549409,São Joaquim da Barra,37,M,2,Branca,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim

In [15]:
#Avaliando dados de idade
base_tratada['NU_IDADE'].value_counts()

NU_IDADE
17    219313
18    147548
19     81236
16     59316
20     53009
       ...
86         1
4          1
3          1
91         1
2          1
Name: count, Length: 80, dtype: int64

In [16]:
#Tratando casos onde a idade for menor ou igual a 12 anos
menores_12 = base_tratada.query('NU_IDADE < 12')['NO_MUNICIPIO_RESIDENCIA'].value_counts()

In [17]:
#Rodando a variável
menores_12

NO_MUNICIPIO_RESIDENCIA
São Paulo                 5
Tambaú                    1
Ribeirão Preto            1
Bálsamo                   1
São Bernardo do Campo     1
Embu das Artes            1
Queiroz                   1
Santana de Parnaíba       1
Vargem Grande Paulista    1
Auriflama                 1
Araçatuba                 1
Campinas                  1
Name: count, dtype: int64

In [18]:
#Removendo os não elegíveis
base_tratada_2 = base_tratada.loc[base_tratada.NU_IDADE > 11]

In [19]:
base_tratada_2.head()

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",3546801,Santa Isabel,22,M,1,Parda,1,1,Não respondeu,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",3538204,Pinhalzinho,19,M,1,Parda,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",3550308,São Paulo,17,F,1,Parda,1,2,Privada,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,Parda,1,2,Pública,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
4,"1,90E+11",3549409,São Joaquim da Barra,37,M,2,Branca,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim

In [20]:
#Contagem dos alunos que fazem a prova somente para treino
base_tratada_2.query('IN_TREINEIRO == 1')['IN_TREINEIRO'].value_counts()

IN_TREINEIRO
1    93988
Name: count, dtype: int64

In [21]:
#Removendo alunos "treineiros"
vestibulandos = base_tratada_2.loc[base_tratada_2.IN_TREINEIRO == 0]

In [22]:
base_tratada_2.head()

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",3546801,Santa Isabel,22,M,1,Parda,1,1,Não respondeu,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",3538204,Pinhalzinho,19,M,1,Parda,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",3550308,São Paulo,17,F,1,Parda,1,2,Privada,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,Parda,1,2,Pública,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
4,"1,90E+11",3549409,São Joaquim da Barra,37,M,2,Branca,1,1,Não respondeu,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim

In [24]:
#Análise das presenças (fazendo uma contagem a partir das flags da coluna de presença)
#1 = Presente; 0 = Falta; 2 = Eliminados.

#Contagem Ciências Humanas
vestibulandos['TP_PRESENCA_CH'].value_counts()

TP_PRESENCA_CH
1    533142
0    185969
2       657
Name: count, dtype: int64

In [29]:
#Contagem Ciências Naturais
vestibulandos['TP_PRESENCA_CN'].value_counts()

TP_PRESENCA_CN
1    500805
0    218693
2       270
Name: count, dtype: int64

In [28]:
#Contagem Matemática
vestibulandos['TP_PRESENCA_MT'].value_counts()

TP_PRESENCA_MT
1    500805
0    218693
2       270
Name: count, dtype: int64

In [27]:
#Contagem Linguagens e Códigos
vestibulandos['TP_PRESENCA_LC'].value_counts()

TP_PRESENCA_LC
1    533142
0    185969
2       657
Name: count, dtype: int64

In [30]:
#Status da redação
#1 = Sem problemas; do 2 em diante pode desconsiderar por não atender aos critérios.
vestibulandos['TP_STATUS_REDACAO'].value_counts().sort_index()

TP_STATUS_REDACAO
1.0    519763
2.0       913
3.0      1417
4.0      5513
6.0      3626
7.0       543
8.0       828
9.0       539
Name: count, dtype: int64

In [31]:
#Tratando valores ausentes
vestibulandos['NU_IDADE'].isnull().sum()

0

In [34]:
#Array para contar valores nulos por prova
provas = ['NU_NOTA_REDACAO','NU_NOTA_CN','NU_NOTA_MT','NU_NOTA_LC','NU_NOTA_CH']

In [36]:
#Contando elementos da lista
vestibulandos[provas].isnull().sum()

NU_NOTA_REDACAO    186626
NU_NOTA_CN         218963
NU_NOTA_MT         218963
NU_NOTA_LC         186626
NU_NOTA_CH         186626
dtype: int64

In [41]:
#Filtrando vestibulandos classificados
vestibulandos_classificados = vestibulandos.loc[vestibulandos.TP_PRESENCA_CH == 1]
vestibulandos_classificados = vestibulandos_classificados.loc[vestibulandos_classificados.TP_PRESENCA_MT == 1]

In [43]:
vestibulandos_classificados['TP_PRESENCA_MT'].value_counts()

TP_PRESENCA_MT
1    499940
Name: count, dtype: int64

In [44]:
vestibulandos_classificados['TP_PRESENCA_CH'].value_counts()

TP_PRESENCA_CH
1    499940
Name: count, dtype: int64

In [45]:
vestibulandos_classificados['TP_PRESENCA_CN'].value_counts()

TP_PRESENCA_CN
1    499940
Name: count, dtype: int64

In [46]:
vestibulandos_classificados['TP_PRESENCA_LC'].value_counts()

TP_PRESENCA_LC
1    499940
Name: count, dtype: int64

In [48]:
#Verificando se agora temos valores ausentes
vestibulandos_classificados[provas].isnull().sum()

NU_NOTA_REDACAO    0
NU_NOTA_CN         0
NU_NOTA_MT         0
NU_NOTA_LC         0
NU_NOTA_CH         0
dtype: int64