# Técnicas Estatísticas
## Amostragem

Dados: Enem SP - 2019

In [1]:
import pandas as pd
import numpy as np

In [2]:
enem_sp = pd.read_csv('enem_base_tratada_2019_sp.csv',sep=',',encoding='iso-8859-1')

In [3]:
enem_sp.head()

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",3546801,Santa Isabel,22,M,1,Parda,1,1,Não respondeu,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",3550308,São Paulo,17,F,1,Parda,1,2,Privada,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",3548708,São Bernardo do Campo,19,M,1,Parda,1,2,Pública,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",3515103,Embu-Guaçu,17,F,1,Parda,1,2,Pública,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",3518800,Guarulhos,23,F,1,Branca,1,1,Não respondeu,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [4]:
#Localizando região de Campinas para amostragem
enem_campinas = enem_sp.loc[enem_sp.CO_MUNICIPIO_RESIDENCIA == 3509502]

In [5]:
enem_campinas.head()

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
15,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,1,Não respondeu,...,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
31,"1,90E+11",3509502,Campinas,19,F,1,Parda,1,1,Não respondeu,...,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
51,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
169,"1,90E+11",3509502,Campinas,17,M,1,Branca,1,2,Privada,...,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Sim

In [6]:
enem_campinas.shape

(13198, 30)

In [7]:
#Semente Aleatória (Esse comando garante que a amostragem do código abaixo será sempre a mesma)
np.random.seed(1)

In [8]:
#Amostragem Aleatória Simples (20% da população de Campinas 13.198)
amos_simples = enem_campinas.sample(frac=0.20)

In [9]:
amos_simples

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
327999,"1,90E+11",3509502,Campinas,20,M,1,Preta,1,1,Não respondeu,...,459.6,Inglês,1.0,180.0,200.0,180.0,200.0,200.0,960.0,Sim
235222,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,48.8,Inglês,1.0,160.0,180.0,160.0,140.0,140.0,780.0,Sim
134221,"1,90E+11",3509502,Campinas,18,F,1,Parda,1,2,Pública,...,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
358407,"1,90E+11",3509502,Campinas,25,M,0,Parda,1,1,Não respondeu,...,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,Não
173364,"1,90E+11",3509502,Campinas,18,M,1,Parda,1,1,Não respondeu,...,617.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",3509502,Campinas,45,F,1,Branca,1,1,Não respondeu,...,373.5,Espanhol,1.0,80.0,80.0,80.0,80.0,80.0,400.0,Sim
362918,"1,90E+11",3509502,Campinas,19,M,1,Preta,1,1,Não respondeu,...,450.7,Inglês,1.0,120.0,40.0,40.0,120.0,0.0,320.0,Sim
221397,"1,90E+11",3509502,Campinas,19,F,1,Branca,1,1,Não respondeu,...,524.8,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
76628,"1,90E+11",3509502,Campinas,17,M,0,Branca,1,2,Pública,...,649.7,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
126402,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Pública,...,376.6,Espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,Sim

In [10]:
#Amostragem Aleatória Simples (3.000 registros da população de Campinas 13.198)
amos_simples = enem_campinas.sample(3000)

In [11]:
amos_simples

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
57191,"1,90E+11",3509502,Campinas,17,F,1,Amarela,1,2,Pública,...,653.8,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
215078,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Pública,...,507.8,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
430770,"1,90E+11",3509502,Campinas,18,M,1,Branca,1,2,Privada,...,823.3,Inglês,1.0,140.0,180.0,120.0,160.0,160.0,760.0,Sim
409180,"1,90E+11",3509502,Campinas,19,F,1,Preta,1,2,Pública,...,574.7,Inglês,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim
429862,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,522.7,Inglês,1.0,140.0,120.0,120.0,160.0,100.0,640.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238949,"1,90E+11",3509502,Campinas,22,F,1,Preta,1,1,Não respondeu,...,601.2,Inglês,1.0,160.0,120.0,160.0,160.0,180.0,780.0,Sim
242711,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Privada,...,628.3,Inglês,1.0,160.0,140.0,160.0,160.0,180.0,800.0,Sim
467039,"1,90E+11",3509502,Campinas,17,F,1,Preta,1,2,Pública,...,382.6,Inglês,1.0,80.0,120.0,100.0,100.0,100.0,500.0,Sim
189967,"1,90E+11",3509502,Campinas,19,F,1,Parda,1,1,Não respondeu,...,455.1,Espanhol,1.0,100.0,140.0,120.0,140.0,120.0,620.0,Não
282921,"1,90E+11",3509502,Campinas,18,F,1,Parda,1,2,Pública,...,511.2,Inglês,1.0,120.0,140.0,120.0,140.0,140.0,660.0,Sim

In [12]:
#Amostragem Sistemática (Seleciona uma sequência a partir de um valor inicial)
enem_campinas.shape

(13198, 30)

In [13]:
np.random.seed(2)

In [14]:
#Variável para marcar onde a amostragem deve iniciar (número aleatório entre 1 e 10)
inicio = np.random.choice(10,1)

In [15]:
#Teste do array (avança de 100 em 100)
amostra2 = np.arange(inicio,13198,100)
amostra2

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [16]:
#Criando a amostra sistemática
amos_sistem = enem_campinas.iloc[amostra2,:] #"iloc" localiza pelo índice
amos_sistem

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
401,"1,90E+11",3509502,Campinas,18,F,1,Branca,1,1,Não respondeu,...,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,Sim
5079,"1,90E+11",3509502,Campinas,18,F,1,Branca,1,2,Pública,...,419.9,Inglês,1.0,140.0,120.0,120.0,120.0,140.0,640.0,Sim
9218,"1,90E+11",3509502,Campinas,19,F,1,Branca,1,1,Não respondeu,...,617.1,Inglês,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
13685,"1,90E+11",3509502,Campinas,20,M,1,Parda,1,1,Não respondeu,...,576.4,Inglês,1.0,160.0,200.0,180.0,200.0,180.0,920.0,Sim
18239,"1,90E+11",3509502,Campinas,20,M,1,Branca,1,1,Não respondeu,...,796.2,Inglês,1.0,160.0,200.0,200.0,200.0,200.0,960.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481894,"1,90E+11",3509502,Campinas,34,M,1,Parda,1,1,Não respondeu,...,932.1,Inglês,1.0,140.0,120.0,160.0,160.0,160.0,740.0,Sim
485805,"1,90E+11",3509502,Campinas,16,F,1,Branca,1,2,Pública,...,441.6,Inglês,1.0,120.0,120.0,100.0,120.0,0.0,460.0,Sim
488958,"1,90E+11",3509502,Campinas,19,F,1,Branca,1,1,Não respondeu,...,492.9,Inglês,1.0,160.0,120.0,140.0,120.0,140.0,680.0,Sim
492626,"1,90E+11",3509502,Campinas,21,M,1,Branca,1,1,Não respondeu,...,51.1,Inglês,1.0,120.0,120.0,120.0,100.0,0.0,460.0,Sim
496410,"1,90E+11",3509502,Campinas,19,M,1,Preta,1,1,Não respondeu,...,404.4,Inglês,1.0,100.0,80.0,80.0,80.0,40.0,380.0,Sim

In [17]:
#Amostragem Estratificada (Seleciona uma amostra aleatória a partir de um grupo)
#Considera 10% da Raça Preta como amostragem
preta = enem_campinas.loc[enem_campinas.TP_COR_RACA == 'Preta'].sample(frac=0.10)
preta.shape

(151, 30)

In [18]:
#Considera 10% da Raça Parda como amostragem
parda = enem_campinas.loc[enem_campinas.TP_COR_RACA == 'Parda'].sample(frac=0.10)
parda.shape

(365, 30)

In [19]:
#Concatenar amostras
amos_estra = pd.concat([preta,parda])
amos_estra

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
439289,"1,90E+11",3509502,Campinas,19,F,1,Preta,1,1,Não respondeu,...,478.6,Inglês,1.0,120.0,120.0,120.0,120.0,0.0,480.0,Sim
297111,"1,90E+11",3509502,Campinas,52,F,4,Preta,1,1,Não respondeu,...,423.4,Espanhol,1.0,80.0,120.0,120.0,80.0,60.0,460.0,Sim
269327,"1,90E+11",3509502,Campinas,21,F,1,Preta,1,1,Não respondeu,...,466.9,Inglês,1.0,160.0,120.0,160.0,160.0,100.0,700.0,Sim
193437,"1,90E+11",3509502,Campinas,24,F,1,Preta,1,1,Não respondeu,...,670.3,Espanhol,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim
347136,"1,90E+11",3509502,Campinas,18,M,1,Preta,1,2,Pública,...,688.4,Espanhol,1.0,120.0,160.0,140.0,120.0,160.0,700.0,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483782,"1,90E+11",3509502,Campinas,45,M,1,Parda,1,1,Não respondeu,...,388.9,Inglês,1.0,100.0,60.0,40.0,80.0,0.0,280.0,Não
237041,"1,90E+11",3509502,Campinas,18,M,1,Parda,1,2,Pública,...,464.1,Espanhol,1.0,160.0,120.0,160.0,140.0,100.0,680.0,Sim
134221,"1,90E+11",3509502,Campinas,18,F,1,Parda,1,2,Pública,...,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
66212,"1,90E+11",3509502,Campinas,27,M,1,Parda,1,1,Não respondeu,...,459.3,Inglês,1.0,80.0,40.0,40.0,80.0,20.0,260.0,Sim
18130,"1,90E+11",3509502,Campinas,30,F,1,Parda,1,1,Não respondeu,...,73.2,Inglês,1.0,160.0,180.0,160.0,200.0,180.0,880.0,Não

In [20]:
#Amostra Estratificada para grandes grupos

#Importar lib de machine learning
from sklearn.model_selection import train_test_split

In [21]:
#Criando uma amostra única a partir de uma coluna
x_treino, x_teste, y_treino, amos_estra = train_test_split(enem_campinas.drop('TP_COR_RACA',axis=1),enem_campinas['TP_COR_RACA'],stratify=enem_campinas['TP_COR_RACA'],test_size=0.20)
amos_estra = amos_estra.index
amos_estra

Index([ 89736, 214938, 284459, 394215, 227564, 254039,  93589, 318544, 267645,
       443662,
       ...
       288760, 234622, 372395, 453014, 429613, 416160, 100789, 440586, 257541,
       226145],
      dtype='int64', length=2640)

In [22]:
#Fazendo a junção de todos os índices
amos_estra_camp = enem_campinas.loc[amos_estra,:] #O ":" considera todas as colunas
amos_estra_camp

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
89736,"1,90E+11",3509502,Campinas,19,F,1,Branca,1,2,Pública,...,448.4,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
214938,"1,90E+11",3509502,Campinas,18,F,1,Não declarado,1,2,Pública,...,410.6,Inglês,1.0,140.0,160.0,140.0,140.0,140.0,720.0,Sim
284459,"1,90E+11",3509502,Campinas,24,M,1,Branca,1,1,Não respondeu,...,52.0,Espanhol,1.0,140.0,140.0,140.0,140.0,120.0,680.0,Sim
394215,"1,90E+11",3509502,Campinas,18,F,1,Branca,1,1,Não respondeu,...,426.7,Inglês,1.0,160.0,120.0,120.0,160.0,120.0,680.0,Sim
227564,"1,90E+11",3509502,Campinas,19,M,1,Branca,1,2,Pública,...,505.6,Inglês,1.0,120.0,200.0,120.0,160.0,120.0,720.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416160,"1,90E+11",3509502,Campinas,17,M,1,Branca,1,2,Privada,...,838.3,Espanhol,1.0,160.0,160.0,160.0,160.0,120.0,760.0,Sim
100789,"1,90E+11",3509502,Campinas,21,M,1,Parda,1,1,Não respondeu,...,459.3,Inglês,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
440586,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Privada,...,701.1,Inglês,1.0,160.0,120.0,160.0,200.0,120.0,760.0,Sim
257541,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,561.2,Inglês,1.0,140.0,120.0,120.0,120.0,80.0,580.0,Sim
226145,"1,90E+11",3509502,Campinas,17,M,2,Parda,1,2,Privada,...,571.9,Inglês,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim

In [25]:
#Amostragem Conglomerada (Agrupamento)

escolas_publicas = enem_campinas.loc[enem_campinas.TP_ESCOLA == 'Pública']
escolas_publicas.shape

(4175, 30)

In [26]:
#Extraindo amostragem através do código
amostras = escolas_publicas['CO_ESCOLA'].value_counts()
amostras

CO_ESCOLA
35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35462822.0      1
35058836.0      1
35112926.0      1
35017255.0      1
35047053.0      1
Name: count, Length: 186, dtype: int64

In [31]:
#Gerando a amostragem
amostragem = np.random.choice(a=[0,1],size=186,replace=True,p=[0.85,0.15])
amostragem

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [32]:
#Vai retornar somente o código das escolas correspondentes a 1
amos_conglomerado = amostras.loc[amostragem == 1]
amos_conglomerado.index

Index([35045718.0, 35045664.0, 35018351.0, 35039901.0, 35018259.0, 35018120.0,
       35018491.0, 35924945.0, 35905461.0, 35445897.0, 35812900.0, 35018296.0,
       35903875.0, 35045676.0, 35907352.0, 35018260.0, 35127796.0, 35127012.0,
       35065626.0, 35035932.0, 35213640.0, 35112720.0, 35561411.0, 35112707.0,
       35912924.0, 35112896.0, 35017589.0, 35016559.0, 35045962.0, 35914009.0,
       35015830.0, 35017700.0, 35126846.0, 35035956.0, 35150095.0, 35004269.0,
       35042523.0, 35112773.0],
      dtype='float64', name='CO_ESCOLA')

In [33]:
amos_conglomerado = escolas_publicas.loc[escolas_publicas['CO_ESCOLA'].isin([35045718.0, 35045664.0, 35018351.0, 35039901.0, 35018259.0, 35018120.0,
       35018491.0, 35924945.0, 35905461.0, 35445897.0, 35812900.0, 35018296.0,
       35903875.0, 35045676.0, 35907352.0, 35018260.0, 35127796.0, 35127012.0,
       35065626.0, 35035932.0, 35213640.0, 35112720.0, 35561411.0, 35112707.0,
       35912924.0, 35112896.0, 35017589.0, 35016559.0, 35045962.0, 35914009.0,
       35015830.0, 35017700.0, 35126846.0, 35035956.0, 35150095.0, 35004269.0,
       35042523.0, 35112773.0])]
amos_conglomerado

,INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
2333,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Pública,...,40.4,Inglês,1.0,100.0,120.0,120.0,100.0,80.0,520.0,Sim
2382,"1,90E+11",3509502,Campinas,28,F,2,Parda,1,2,Pública,...,611.6,Inglês,1.0,120.0,120.0,140.0,140.0,160.0,680.0,Sim
2538,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Pública,...,42.3,Inglês,1.0,140.0,120.0,120.0,140.0,80.0,600.0,Sim
3336,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,670.8,Inglês,1.0,140.0,200.0,160.0,200.0,200.0,900.0,Sim
4655,"1,90E+11",3509502,Campinas,17,F,1,Parda,1,2,Pública,...,518.3,Inglês,1.0,140.0,120.0,140.0,120.0,80.0,600.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496390,"1,90E+11",3509502,Campinas,17,F,1,Preta,1,2,Pública,...,514.4,Espanhol,1.0,120.0,120.0,140.0,120.0,160.0,660.0,Sim
496606,"1,90E+11",3509502,Campinas,17,F,1,Preta,1,2,Pública,...,430.8,Inglês,1.0,100.0,120.0,100.0,100.0,40.0,460.0,Sim
496902,"1,90E+11",3509502,Campinas,17,M,1,Preta,1,2,Pública,...,423.2,Espanhol,1.0,100.0,120.0,120.0,100.0,120.0,560.0,Sim
498473,"1,90E+11",3509502,Campinas,17,F,1,Branca,1,2,Pública,...,704.4,Inglês,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
498878,"1,90E+11",3509502,Campinas,18,F,1,Parda,1,2,Pública,...,487.5,Espanhol,1.0,120.0,120.0,120.0,100.0,60.0,520.0,Não